@font-face {
  font-family: "Yeseva One";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/yesevaone/yesevaone.woff2") format("woff2"), url("../fonts/yesevaone/yesevaone.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PTSerif/PTSerifRegular.woff2") format("woff2"), url("../fonts/PTSerif/PTSerifRegular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/PTSerif/PTSerifBold.woff2") format("woff2"), url("../fonts/PTSerif/PTSerifBold.woff") format("woff");
  font-display: swap;
}

