@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-indents() {
  margin: 0;
}

@mixin indents-mobile() {
  padding: 0 21px 0 14px;
}

@mixin indents-tablet() {
  padding: 0 23px;
}

@mixin indents-desktop() {
  padding: 0 15px;
}
