$font-stack: "PT Serif", "Times New Roman", serif;
$font-complementary: "Yeseva One", "Times New Roman", serif;
$primary-color: #d8c58d;
$main-color: #22222e;
$gray-bg-color: #f3f3f1;
$header-color: #ad9c8c;
$dark-bg-color: #1c1c2a;
$menu-mobile-color: #727272;
$menu-color: #999999;
$button-text-color: #5f4f40;
$button-color: #d2b885;
$reviews-text-color: #666666;
$footer-text-color: #6a6a7b;
$black-color: #000000;
$white-color: #ffffff;
$mobile-width: 319px;
$tablet-width: 767px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
